* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #888888;
}

form {
    margin: 0;
}

h1 { font-size: 56px; }
h2 { font-size: 45px; }
h3 { font-size: 34px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }
h6 { font-size: 16px; }

h1, h2, h3 {
    margin-top: 20px;
}

h4, h5, h6 {
    margin-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    margin-bottom: 10px;
}

div.popup {
    position: absolute;
    top: 100px;
    left: 50%;

    visibility: hidden;
    z-index: -1;
    opacity: 0;
    transform: translateY(-100px);
    transition: visibility 0s 300ms, z-index 0s 300ms, opacity 300ms, transform 300ms;

    background: #202020;
    border: 1px solid #999999;
    border-radius: 6px;
}

div.popup-small {
    width: 300px;
    margin-left: -150px;
}

div.popup-big {
    width: 600px;
    margin-left: -300px;
}

div.popup-visible {
    opacity: 1;
    visibility: visible;
    transform: none;
    z-index: 1;
    transition: opacity 300ms, transform 300ms;
}

div.popup--title {
    padding: 15px;
    border-bottom: 1px solid #282828;
}

div.popup--controls {
    padding: 15px;
    border-top: 1px solid #282828;
    text-align: right;
}

div.popup--title h1,
div.popup--title h2,
div.popup--title h3,
div.popup--title h4,
div.popup--title h5,
div.popup--title h6 {
    margin: 0;
}

div.popup--content {
    padding: 15px;
}

div.fullscreen {
    width: 100%;
    height: 100%;
    background: #060606;
}

button {
    color: #ffffff;
    background: #424242;
    border: none;
    display: inline-block;
    vertical-align: middle;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
}

button:active, button:hover {
    outline: 0;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    background: #282828;
}

button.button-apply {
    background: #2a9fd6;
}

button.button-apply:active, button.button-apply:hover {
    background: #2180ac;
}

button.button-mini {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

form input[type=text] {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background: #ffffff;
    border: 1px solid #282828;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

form input[type=text]:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

div.chat {
    position: absolute;
    bottom: 20px;
    width: 600px;
    left: 50%;
    margin-left: -300px;
}

div.chat--messagesWrapper {
    width: 600px;
    height: 200px;
    display: table-cell;
    vertical-align: bottom;
    margin-bottom: 10px;
}

div.chat-focused div.chat--messagesWrapper {
    background: rgba(255, 255, 255, 0.2);
}

div.chat--messages {
    max-height: 200px;
    overflow: auto;
    padding: 2px 4px;
}

div.chat--message {
    color: rgba(255, 255, 255, 0.4);
}

div.chat-focused div.chat--message {
    color: #ffffff;
}

span.chat--messageAuthor::after {
    display: inline;
    content: ": ";
}

input.chat--input {
    display: block;
    visibility: hidden;
    width: 100%;
    padding: 4px;
    font-size: 14px;
    border: none;
    color: white;
    outline: none;
    background: rgba(255, 255, 255, 0.4);
    margin-top: 5px;
}

div.chat-focused input.chat--input {
    visibility: visible;
}